*/settings/local.py
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
.vagrant
*.sublime-project
*.sublime-workspace
uploaded/*
static/*
*.pid
nosetests.xml
.idea
*-ck.js
app.cfg
lib/bower_components/*
lib/node_modules/*
node_modules
