{% extends "base.html" %}
{% load i18n staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/aui-ext/schedule-event-recorder.js" %}"></script>
    <script src="{% static "js/models/pattern.js" %}"></script>
    <script type="text/html" id="pattern-template">
        {% include "design/models/pattern.html" %}
    </script>
    <script>
        $(document).ready(function () {
            YUI().use(
                    "aui-scheduler",
                    function (Y) {
                        var events = [];

                        initCustomScheduleEventRecorder($, Y);

                        var agendaView = new Y.SchedulerAgendaView();
                        var dayView = new Y.SchedulerDayView();
                        var eventRecorder = new Y.SchedulerEventRecorder();
                        var monthView = new Y.SchedulerMonthView();
                        var weekView = new Y.SchedulerWeekView();

                        eventRecorder.on("save", function (e) {
                            console.log("save", e);
                        });

                        eventRecorder.on("delete", function (e) {
                            console.log("delete", e);
                        });

                        eventRecorder.on("edit", function (e) {
                            console.log("edit", e);
                        });

                        var scheduler = new Y.Scheduler({
                            activeView: monthView,
                            boundingBox: "#schedule",
                            eventRecorder: eventRecorder,
                            items: events,
                            render: true,
                            views: [dayView, weekView, monthView, agendaView]
                        });

                        var url = "{% url "pattern-list" %}";
                        var methodType = "GET";
                        $.ajax({
                            type: methodType,
                            url: url,
                            beforeSend: function () {
                                console.group("%s %s", methodType, url);
                            },
                            complete: function (jqXHR, textStatus) {
                                console.timeEnd(textStatus);
                                console.groupEnd();
                            },
                            success: function (data, textStatus, jqXHR) {
                                console.log(textStatus, data);
                                var events = [];
                                $.each(data, function (index, val) {
                                    console.log(index, val);
                                    var event = {
                                        content: val.participant.first_name + " " + val.participant.last_name + " " + val.action.description,
                                        id: val.id,
                                        reminder: true,
                                        // Formats here: http://alloyui.com/api/classes/A.DateParser.html
                                        startDate: moment(val.date_occurrence).toDate()
                                    };
                                    events.push(event);
                                });
                                console.log("Adding the following events =>", events);
                                scheduler.addEvents(events);
                                scheduler.syncEventsUI();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });

                    }
            );
        });

    </script>
{% endblock js %}
{% block content %}
    <div class="popover schedule-template" role="tooltip">
        <div class="arrow"></div>
        <h3 class="popover-title">New Event</h3>

        <div class="popover-content"></div>
    </div>

    <h1>Schedule <small class="title-details"></small></h1>
    <div>
        <div id="schedule"></div>
    </div>

{% endblock content %}
