{% extends "design/base.html" %}
{% load pipeline %}
{% block css %}{% stylesheet "design" %}{% endblock css %}

{% block breadcrumbs %}
    {% if crumbs %}
        <ol class="breadcrumb">
            {% for crumb in crumbs %}
                <!-- {{ crumb.path }} => {{ crumb.label }} -->
                <li {% if crumb.path == request.path %}class="active"{% endif %}><a href="/{{ crumb.path }}/">{{ crumb.label|title }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock breadcrumbs %}
