{% load i18n patt3rns_tags %}
{% include "forms/errors.html" %}
<form class="{% if not form_class %}form-horizontal{% endif %}" method="post" role="form" action="{% if action %}{{ action }}{% else %}{{ request.get_full_path }}{% endif %}" novalidate>
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% with form_group_class="form-group-lg" %}
        {% for field in form.visible_fields %}
            {% include "forms/field.html" with field=field %}
        {% endfor %}
    {% endwith %}
    {% block form-extra %}{% endblock form-extra %}
    {% block buttons %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"
                        class="btn {% if submit_button_class %}{{ submit_button_class }}{% else %}btn-primary{% endif %} btn-lg"
                        {% if submit_button_name %}name="{{ submit_button_name }}"{% endif %}
                        value="{% if submit_button_value %}{{ submit_button_value }}{% elif submit_button_text %}{{ submit_button_text|slugify }}{% else %}submit{% endif %}">
                    {% if submit_button_text %}{{ submit_button_text }}{% else %}{% trans "Submit" %}{% endif %}
                </button>
            </div>
        </div>
    {% endblock buttons %}
</form>
