{% extends "account/base.html" %}
{% load i18n %}

{% block head-title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <h1>{% trans "E-mail Addresses" %}</h1>
    {% if user.emailaddress_set.all %}
        <p>{% trans "The following e-mail addresses are associated with your account:" %}</p>

        {% url "account_email" as action %}
        <form class="form-horizontal" method="post" role="form" action="{{ action }}" novalidate>
            {% csrf_token %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Primary" %}</th>
                    <th>{% trans "Verified" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for email in user.emailaddress_set.all %}
                    <tr>
                        <td>

                            <label for="email_radio_{{ forloop.counter }}" class="{% if email.primary %}primary_email{% endif %}">
                                <input id="email_radio_{{ forloop.counter }}" type="radio" name="email" {% if email.primary %}checked="checked"{% endif %} value="{{ email.email }}"/>
                                {{ email.email }}
                            </label>
                        </td>
                        <td>
                            {% if email.primary %}<span class="primary label label-success">{% trans "Primary" %}</span>{% endif %}
                        </td>
                        <td>
                            {% if email.verified %}
                                <span class="verified label label-success">{% trans "Verified" %}</span>
                            {% else %}
                                <span class="unverified label label-warning">{% trans "Unverified" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>

            <button class="btn btn-primary" type="submit" name="action_primary">{% trans "Make Primary" %}</button>
            <button class="btn btn-default" type="submit" name="action_send">{% trans "Re-send Verification" %}</button>
            <button class="btn btn-danger" type="submit" name="action_remove">{% trans "Remove" %}</button>
        </form>

    {% else %}
        <div class="alert alert-danger">
            <p>
                <strong>{% trans "Warning:" %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
            </p>
        </div>
    {% endif %}

    <hr/>

    <h2>{% trans "Add E-mail Address" %}</h2>
    {% url "account_email" as action %}
    {% trans "Add E-mail" as submit_button_text %}
    {% include "forms/form.html" with form=form submit_button_value="action_add" submit_button_text=submit_button_text %}

{% endblock %}

{% block extra-body %}
    <script>
        (function() {
            var message = "{% trans "Do you really want to remove the selected e-mail address?" %}";
            var actions = document.getElementsByName("action_remove");
            if (actions.length) {
                actions[0].addEventListener("click", function(e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
