{% extends "account/base.html" %}
{% load i18n %}

{% block head-title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url "account_reset_password" as password_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ password_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% if form %}
            {% trans "Change Password" as submit_button_text %}
            {% include "forms/form.html" with form=form submit_button_text=submit_button_text submit_button_value="change password" submit_button_name="action" %}
        {% else %}
            <p>{% trans "Your password is now changed." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
